@using schedule;
@model dynamic
<html lang="en">
<head>
  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
@{  
    ViewData["Title"] = "Schedule";  
}  


<div id="dynamicContentContainer"></div>


@*@await Html.PartialAsync("GetGroupByCourseId")*@



<div class="jumbotron text-center">
  <h1>Расписание</h1>
  <p>Добрый день!</p>
</div>


 <form asp-controller="Schedule" asp-action="Index" method="post">
  
<select class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown" data-val="true" id="IdCourse" name="IdCourse"  onchange="this.form.submit();">
    <option selected>Курс</option>
    @foreach (Course item in Model.Course)
   {
      
                <option value="@item.IdCourse">
                 
                    @Html.DisplayFor(modelItem => item.numCourse)
                   
                </option>
   }
       
</select>
    @* <input type="submit"/>
@* </form>  



    <form asp-controller="Schedule" asp-action="Index" method="post">*@
<select class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown" data-val="true" id="IdGroup" name="IdGroup" @*onchange="this.form.submit();"*@>
    <option selected>№ группы</option>
    @foreach (Group item in Model.Group)
   {
       
                <option value="@item.IdGroup">
                 @Html.DisplayFor(modelItem => item.IdCourse)k +  @Html.DisplayFor(modelItem => item.numGroup)g
                </option>
                 
                
                 
   }

   

   </select>


   <select class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown" data-val="true" id="IdWeekday" name="IdWeekday" @*onchange="this.form.submit();"*@>
    <option selected>День недели</option>
    @foreach (Weekday item in Model.Weekday)
   {
       
                <option value="@item.IdWeekday">
                 @Html.DisplayFor(modelItem => item.WeekdayName)
                </option>
                 
                
                 
   }

   

   </select>

   @* @foreach(Weekday item in Model.Weekday)
        {
            <a asp-controller="Schedule" asp-action="Index" id="IdWeekday" name="IdWeekday" asp-route-IdWeekday="@item.IdWeekday" >@Html.DisplayFor(modelItem => item.WeekdayName)</a>
        }*@

    <input  class="btn btn-primary" type="submit"/>
   </form> 



<table class="table table-hover">
    <thead>
        <tr>
            <th>
               @* @Html.DisplayNameFor(model => model.WeekdayName)*@
               День недели
            </th>
            <th>
              № занятия
            </th>
             <th>
                Дисциплина
            </th>
             <th>
               Формат
            </th>
             <th>
                Начало
            </th>
             <th>
                Конец
            </th>
             <th>
                № группы
            </th>
             <th>
                Курс
            </th>
             <th>
              Преподаватель
            </th>
             <th>
                Аудитория
            </th>
             <th>
                Заметки
            </th>
       
            </tr>
    </thead>
    <tbody>


       

        @foreach(Schedule item in Model.Schedule)
        {
            <tr>
                <td>
                    @($"{item.WeekdayName}")
                   @* @Html.DisplayFor(modelItem => item.WeekdayName)*@
                </td>
                 <td>
                    @Html.DisplayFor(modelItem => item.numTimeLesson)
                </td>
                 <td>
                    @Html.DisplayFor(modelItem => item.SubjectName)
                </td>
                 <td>
                    @Html.DisplayFor(modelItem => item.FormatName)
                </td>
                 <td>
                    @Html.DisplayFor(modelItem => item.LessonTimeStart)
                </td>
                 <td>
                    @Html.DisplayFor(modelItem => item.LessonTimeEnd)
                </td>
                 <td>
                    @Html.DisplayFor(modelItem => item.numGroup)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.numCourse)
                </td>
                 <td>
                    @Html.DisplayFor(modelItem => item.TeacherName)
                </td>
                 <td>
                    @Html.DisplayFor(modelItem => item.LectureHallNum)
                </td>
                 <td>
                    @Html.DisplayFor(modelItem => item.NoteName)
                </td>
                <td>  
               
              @*  @Html.ActionLink("ScheduleUpdate","Update","ScheduleUpdate", new { IdSchedule=item.IdSchedule})*@
             <a asp-controller="ScheduleUpdate" asp-action="Update" id="IdSchedule" name="IdSchedule" asp-route-IdSchedule="@item.IdSchedule" >Редактировать</a> 
               
           
            </td>  
             <td> 
                @* <a asp-controller="ScheduleUpdate" asp-action="Update" asp-route-id="@item.IdSchedule">edit</a>*@
               @* <form id="form-@item.IdSchedule"  asp-controller="ScheduleUpdate" asp-action="Update">
                                    <input type="hidden" name="IdSchedule" value="@item.IdSchedule">
                                    <a href="#">edit</a>
                                </form>*@

                                 <form id="form-@item.IdSchedule"  asp-controller="Schedule" asp-action="DeleteSchedule" method="post">
                                    <input type="hidden" name="IdSchedule" value="@item.IdSchedule">
                                    <a href="#" onclick="document.getElementById('form-@item.IdSchedule').submit();">Удалить</a>
                                </form>
             </td>
            </tr>
        }
    </tbody>
</table>


<a  class="btn btn-primary btn-block text-center text-white" asp-controller="ScheduleUpdate" asp-action="Update" asp-route-id="">Добавить</a>


<footer class="bg-dark text-center text-white">
 <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
    © 2022 BSU

  </div>
  </footer>
