@using schedule;
@model dynamic
@{  
    ViewData["Title"] = "Index";  
}  
<h2>Index</h2> 
<select>
    <form>
    <option disabled>Course</option>
    @foreach (Course item in Model.Course)
   {
       
                <option>
                    @Html.DisplayFor(modelItem => item.numCourse)
                </option>
                 
                
                 
   }
   </form> 
</select>

<select>
    <form>
    <option disabled>Group</option>
    @foreach (Group item in Model.Group)
   {
       
                <option>
                 @Html.DisplayFor(modelItem => item.IdCourse)k +  @Html.DisplayFor(modelItem => item.numGroup)g
                </option>
                 
                
                 
   }
   </form> 
</select>


<table class="table table-bordered table-responsive">
    <thead>
        <tr>
            <th>
               @* @Html.DisplayNameFor(model => model.WeekdayName)*@
               День недели
            </th>
            <th>
              №
            </th>
             <th>
                Дисциплина
            </th>
             <th>
               Формат
            </th>
             <th>
                Начало
            </th>
             <th>
                Конец
            </th>
             <th>
                Группа
            </th>
             <th>
              Препод
            </th>
             <th>
                Ауд
            </th>
             <th>
                Заметки
            </th>
       
            </tr>
    </thead>
    <tbody>
        @foreach(Schedule item in Model.Schedule)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.WeekdayName)
                </td>
                 <td>
                    @Html.DisplayFor(modelItem => item.numTimeLesson)
                </td>
                 <td>
                    @Html.DisplayFor(modelItem => item.SubjectName)
                </td>
                 <td>
                    @Html.DisplayFor(modelItem => item.FormatName)
                </td>
                 <td>
                    @Html.DisplayFor(modelItem => item.LessonTimeStart)
                </td>
                 <td>
                    @Html.DisplayFor(modelItem => item.LessonTimeEnd)
                </td>
                 <td>
                    @Html.DisplayFor(modelItem => item.numGroup)
                </td>
                 <td>
                    @Html.DisplayFor(modelItem => item.TeacherName)
                </td>
                 <td>
                    @Html.DisplayFor(modelItem => item.LectureHallNum)
                </td>
                 <td>
                    @Html.DisplayFor(modelItem => item.NoteName)
                </td>
                
            </tr>
        }
    </tbody>
</table>
